<header class="header">
    <div class="header__wrapper container">
        <a href="index.php">
            <div class="header__logo">GB</div>
        </a>
        <div class="header__text"> Тяжело в учении легко в бою</div>
    </div>
</header>